body{
  background-color:  #5E48C0;
  text-align: center;
  font-family: Poppins-Medium;
}

#heading{

color:white;
}

#quote-box{
text-align: center;
color:white;
font-family: Poppins;
font-size: 150%;
margin-top:3% ;
padding:3% 2% 3px 2%;
}


#tweet, #new-quote{
	background-color:  #EB3999;
  color:white;
  float:center;
}
