body{
  background-color: #337260;
  text-align: center;
  font-family: Poppins-Medium;
}

#heading{
color:white;
font-style: normal;
}

#quote-box{
text-align: center;
background-color:white;
border-radius: 10px;
font-family: Poppins;
color:#036d68;
font-size: 150%;
margin:3% 12% 0 12%;
padding:3% 2% 3px 2%;
}

.buttons{
	float:center;
	margin-top: 3%;
}

#new-quote{

	color: white;
	background-color: #036d68;
}

#tweet{

	color: white;
	background-color: #036d68;
}
